PERSISTENCE_MODE=supabase
OPENAI_API_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
NEXT_PUBLIC_FB_PIXEL_ID=1245045833736130
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=
X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=
RESEND_API_KEY=
VERCEL_TOKEN=
RENDER_API_KEY=
